.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: Aspira,FreeSans,Arimo,Droid Sans,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2em;
}
.employer_section>div>div>img{
  padding-top: .5rem;
  padding-bottom: .5rem;
}
